body {
    background-color: lightgray;
}

.main-menu {
    min-width: 500px;
    text-align: center;
}

.main-menu h1 {
    background: #333;
    color: #fff;
    border-bottom: solid 5px #4faddb;
    padding: 15px 0px;
    margin: 0;
}

.main-menu nav {
    display: inline-block;
    background-color: #fff;
    min-width: 248px;
}

.main-menu a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #222;
    font-size: 1.2em;
}

.main-menu a:hover {
    background-color: rgba(79, 173, 219, 0.4);
}
