body {
  background-color: rgb(43, 202, 226);
  background-image: url(dc2ff5416a0a7fd19c7f004e33e119eb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.button {
  background-color: yellowgreen;
  color: white;
  font-size: 1.8em;
}
