aside.css_logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: $primary-color;
    color: $white-color;
}

@media(max-width: $cell-width) {
    aside.css_logo {
        justify-content: center;
    }
}
