aside.css_menu {
    background-color: $black-bg-color;
    padding: 10px;
}

aside.css_menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    margin: 10px 0px;
    padding: 5px;
    font-size: $average-size;
}

aside.css_menu a:hover {
    background-color: $primary-color;
}

@media(max-width: $tablet-width) {
    aside.css_menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    aside.css_menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }
}

@media(max-width: $cell-width) {
    aside.css_menu {
        justify-content: center;
    }
}
