header.css_main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header.css_main button {
    margin: 5px;
}

@media(max-width: $cell-width) {
    header.css_main {
        justify-content: center;
    }
}
