$main-source: Helvetica, sans-serif;

$primary-bg-color: #DEDEDE;
$black-bg-color: #333;
$red-bg-color: #da2b25;
$green-bg-color: #38a737;

$primary-color: #307dcf;
$white-color: #FFF;

$average-size: 1.3em;

$tablet-width: 1000px;
$cell-width: 600px;


